@model WebAppMVC.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Registracija</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KorisnickoIme" class="control-label">Korisnicko Ime</label>
                <input asp-for="KorisnickoIme" class="form-control" />
                <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lozinka" class="control-label"></label>
                <input asp-for="Lozinka" type="password" class="form-control" />
                <span asp-validation-for="Lozinka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProveraLozinke" class="control-label">Ponovo unesite lozinku</label>
                <input asp-for="ProveraLozinke" type="password" class="form-control" />
                <span asp-validation-for="ProveraLozinke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registruj se" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<a href="@Url.ActionLink("Login", "Authentication")">Prijavi se</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
